<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gymball.cpdgt_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_main"
        android:label="청파동 짐선생"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.join.gsJoinActivity" />
        <activity android:name=".ui.join.gtJoinActivity" />
        <activity android:name=".ui.gtmode.gtlecture.GTLectureNewActivity" />
        <activity android:name=".ui.gtmode.gtlecture.GTLectureModify" />
        <activity android:name=".ui.gtmode.GTModeActivity" />
        <activity android:name=".ui.lecturedetail.ChatActivity" />
        <activity android:name=".ui.lecturedetail.LectureDetailActivity" />
        <activity android:name=".ui.lecture.LectureCommentActivity" />
        <activity android:name=".ui.login.LoginActivity"></activity>
        <activity android:name=".ui.join.JoinActivity"></activity>
        <activity android:name=".ui.MainActivity"></activity>
    </application>

</manifest>